# ==============================================================================
# Line endings
# ==============================================================================
# Default to unix file endings for all text files

* text=auto eol=lf
